.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: auto;
  background: #fff;
  padding: 2rem;
  max-width: 400px;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

h1 {
  color: #3c009d;
  font-size: 40px;
}

.underline {
  width: 60px;
  height: 2px;
  background-color: #3c009d;
  border-radius: 9px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.inputs {
  width: 100%;
  height: 4rem;
  background-color: #eaeaea;
  border-radius: 6px;
  position: relative;
}

.inputs i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.inputs input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 3rem;
  color: #797979;
  border-radius: 10px;
}

.forgot-password {
  color: #797979;
  cursor: pointer;
  margin-top: 1rem;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  margin-top: 2rem;
  gap: 30px;
}

button {
  outline: none;
  border: none;
  width: 220px;
  height: 3rem;
  color: #fff;
  background-color: #4c00b4;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background-color: #eaeaea;
  color: #676767;
}
