.Product {
    border: 1px solid rgb(24, 95, 104);
    color: #000;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #1aa0c9, #36d4cc);
}

h4,p {
    padding-inline: 1rem;
}